<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <a href="/register">Register</a>
  <section class="damn">



<div class="wrapper">


{{#data}}
  <div class="boxes">
  <div class="pix"><img src="{{avatar}}" alt=""></div>
  <div class="title"><a href="/users/{{id}}"><h5>{{name}}</h5></div></a>
  <div class="text">
    {{#job}}{{.}} {{/job}}
    {{^job}}Avaliable for Hire{{/job}}
    {{company}}
    </div>
  </div>
  {{/data}}
</div>

  </section>

  </body>


</script>
</html>
