<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
      <h1>Please Enter Your Login info below</h1>
      <div class="">
        <form class="" action="/newRobot" method="post">
          <div class="">
            <label for="">Name</label>
            <input type="text" name="name" value="">
          </div>

          <div class="">
            <label for="Username">Username</label>
            <input type="text" name="username" value="" placeholder="Username">
          </div>

          <div class="">
            <label for="">Password</label>
            <input type="password" name="password" value="" placeholder="Password">
          </div>

          <div class="">
            <label for="">Email</label>
            <input type="email" name="email" value="">
          </div>

          <div class="">
            <label for="">Phone Number</label>
            <input type="number" name="phoneNumber" value="">
          </div>

          <div class="">
            <label for="">University</label>
            <input type="text" name="university" value="">
          </div>

          <div class="">
            <label for="">Company</label>
            <input type="text" name="company" value="">
          </div>

          <div class="">
            <label for="">Job</label>
            <input type="text" name="job" value="">
          </div>

          <div class="">
            <label for="">Skills</label>
            <input type="text" name="skills" value="">
          </div>

          <button type="submit" name="button">Register</button>
        </form>
      </div>
  </body>
</html>
