.damn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*body {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
}*/

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.boxes {
  border: solid;
  width: 18%
}

/*.title{
  text-align: center;
}*/

.text, .title, .pix {
  text-align: center;
}
